.uslugi {
  background: url(/img/background/uslugi.webp) center center/cover no-repeat
    padding-box content-box;
  color: #f5f5f5;
}

.uslugi .title {
  text-align: center;
}

.uslugi .content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 5rem 0;
  justify-content: center;
  align-items: center;
}

.uslugi .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 1rem;
}

.uslugi .Ayleft,
.uslugi .Ayright {
  max-width: 400px;
}

.uslugi .Ayleft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.uslugi .uBabout,
.uslugi .uBexperience,
.uslugi .uBskills {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.uslugi .Ayright {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.uslugi .Ayright .title,
.uslugi .uBabout .title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.uslugi .uBabout ul,
.uslugi .uBexperience ul,
.uslugi .uBskills ul {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.uslugi .card h3 {
  margin: 16px 0;
}

.uslugi .card ul {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.uslugi h1 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

@media (max-width: 991px) {
  .uslugi .uQabout-title {
    display: none;
  }

  .uslugi .Ayleft {
    max-width: 100%;
  }

  .uslugi .card {
    width: 90%;
  }

  .uslugi .content {
    padding: 7.5rem 0 5rem;
  }
}

@media (max-width: 1199px) {
  .uslugi .content {
    padding: 8rem 0 5rem;
  }
}
