.section_5 .content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 5rem 0;
  justify-content: center;
  align-items: center;
}

.Tdcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.Tdcards li {
  width: 40%;
  display: flex;
}

.Tdcard {
  background-color: #f5f5f5;
  width: 100%;
  display: flex;
  box-shadow: 5px 5px 5px 0 rgb(0 0 0 / 0.25);
  gap: 26px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem 1.5rem 2rem;
  border: 1px solid;
  border-radius: 1rem;
  transition: 0.5s;
  text-align: center;
}

.Tdcard a {
  text-decoration: none;
  color: #000;
}

.Tdcard a:hover {
  color: #6f6f6f;
}

.Tdcard img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
  transition: transform 0.3s;
}

.Tdcard:hover img {
  transform: scale(1.05);
}

@media (max-width: 991px) {
  .Tdcards li {
    width: 100% !important;
    display: flex;
    justify-content: center;
  }

  .Tdcard:hover img {
    transform: scale(1);
  }

  .section_5 .content {
    padding: 7.5rem 0 5rem;
  }
}
