header {
    top: 0;
    background-color: #f5f5f5;
}

.navbar {
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

.Rfwrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 20px;
}

.hamb,
.popup {
    display: none !important;
}

.logo {
    display: flex;
    align-items: center;
}

.Rfwrap .menu {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

.Rfwrap .menu li {
    display: flex;
    align-items: stretch;
    word-break: break-word;
    width: max-content;
}

.Rfwrap .menu li a,
.menu li a,
.menu li button{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    transition: 0.4s;
    text-decoration: none;
    color: #000;
}

.menu li button {
    opacity: 1;
    text-align: center;
    background: rgb(0 0 0 / 0.8);
    border-radius: 5px;
    color: #f5f5f5;
    padding: 8px 16px;
    transition: 0.4s;
    /* background: rgb(0 0 0 / 0.5); */
    /* color: rgb(0 0 0 / 0.9);*/
}

.Rfwrap .menu li a:hover,
.menu li a:hover {
    color: #6f6f6f;
}

.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f5f5f5;
}

.highlight {
    position: fixed;
    top: 0;
}

header .SUlogo {
    height: 37px;
}

@media (max-width: 991px) {
    .Rfwrap .menu {
        display: none !important;
    }

    .hamb {
        display: flex !important;
        align-items: center;
    }

    .ggfield {
        padding: 5px 10px;
        cursor: pointer;
        border: 1px solid #000;
        border-radius: 8px;
        background: #f5f5f5;
    }

    .bar {
        display: block;
        width: 30px;
        height: 3px;
        margin: 4px auto;
        background-color: #000;
        transition: 0.2s;
    }

    .ggfield.active .bar:nth-child(2) {
        opacity: 0;
    }

    .ggfield.active .bar:first-child {
        transform: translateY(8px) rotate(45deg);
    }

    .ggfield.active .bar:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }

    .popup {
        position: fixed;
        top: 85px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 85px);
        background: #f5f5f5 !important;
        z-index: 99;
        display: flex !important;
        transition: 0.3s;
        align-items: start;
        overflow-y: scroll;
    }

    .popup.open {
        left: 0;
        background-size: cover;
        background-position-x: center;
    }

    .popup .menu {
        width: 100%;
        padding: 0;
        flex-direction: column;
        margin-top: 1rem;
        gap: 20px;
        margin-bottom: 1rem;
    }

    .popup .menu li {
        width: 100%;
        justify-content: center;
    }

    .popup .menu li a,
    .popup .menu li button {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        font-size: 32px;
        font-weight: 600;
        color: #000 !important;
    }

    .popup .menu li button {
                width: max-content;
        margin: 16px;
        padding: 8px;
    }

    .popup .menu li a:hover {
        background-color: rgb(122 82 179 / 0.1);
    }

    .Rfwrap .menu li a {
        color: #000;
    }
}

@media (max-width: 375px) {
    header .SUlogo {
        height: 37px;
        width: 200px;
    }
}

@media (max-width: 1399px) {
    .Rfwrap .menu {
        gap: 20px;
    }
}

@media (max-width: 991px) {
    .Rfwrap .menu,
    .Rfwrap .menu li {
        width: auto;
    }
}
