.modal {
  display: flex;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0 0 0 / 0.85);
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #f5f5f5;
  margin: 70px auto 20px;
  padding-top: 20px;
  border: 1px solid #000;
  width: 50%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.modal-header span {
  cursor: pointer;
  font-size: 24px;
}

.modal-content hr {
  width: 100%;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 0 auto;
}

.modal-body {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.modal-body p {
  margin: 0 20px;
}

.modal-body img {
  width: 100%;
}

.pfbutton {
  cursor: pointer;
  width: 100%;
  background: rgb(0 0 0 / 0.8);
  border-radius: 5px;
  text-align: center;
  color: #f5f5f5;
  padding: 16px 32px;
  text-decoration: none;
  transition: 0.4s;
  margin: 0 20px;
}

.pfbutton:hover {
  background: rgb(0 0 0 / 0.5);
  color: rgb(0 0 0 / 0.9);
}

.modal-library,
.modal-locations {
  padding: 0 1rem;
  margin: 2rem 0;
}

.modal-library ul,
.modal-locations ul {
  padding-left: 1.5rem;
}

.modal-library hr,
.modal-locations hr {
  margin: 2rem 0 !important;
}

.modal-library a,
.modal-locations a {
  color: #000;
}

.modal-library a:hover,
.modal-locations a:hover {
  text-decoration: underline;
}

@media (max-width: 991px) {
  .modal-content {
    width: 90%;
  }
}
