.section_4 .content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 5rem 0;
  justify-content: center;
  align-items: center;
}

.section_4 .sites {
  background: url("public/img/background/1.webp") center center/cover no-repeat;
  color: #f5f5f5;
}

.tgcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.tgcards li {
  width: 40%;
  display: flex;
}

.tgcard {
  color: #000;
  text-decoration: none;
  display: flex;
  box-shadow: 5px 5px 5px 0 rgb(0 0 0 / 0.25);
  gap: 26px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem 2rem;
  border: 1px solid;
  border-radius: 1rem;
  transition: 0.3s;
  background: #f5f5f5;
  width: 100%;
  cursor: pointer;
}

.tgcard:hover {
  transition: 0.3s;
  background-color: #e5e5e5;
  border: 1px solid;
}

.tgcard img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.4s;
  border-radius: 16px;
}

.tgcard:hover img {
  transform: scale(1.05);
}

.tgcard h4 {
  margin-bottom: 0;
  text-align: center;
}

.jvbutton {
  cursor: pointer;
  width: 100%;
  background: rgb(0 0 0 / 0.8);
  border-radius: 5px;
  text-align: center;
  color: #f5f5f5;
  padding: 16px 32px;
  text-decoration: none;
  transition: 0.4s;
  margin: 0 20px;
}

.jvbutton:hover {
  background: rgb(0 0 0 / 0.5);
  color: rgb(0 0 0 / 0.9);
}

@media (max-width: 991px) {
  .tgcards li {
    width: 100% !important;
    display: flex;
    justify-content: center;
  }

  .tgcards:hover img {
    transform: scale(1);
  }

  .section_4 .content {
    padding: 7.5rem 0 5rem;
  }
}
