.services .content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 5rem 0;
  justify-content: center;
  align-items: center;
}

.yelist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.yelist li {
  width: 40%;
  display: flex;
}

.i3card {
  justify-content: space-between;
  padding: 1.5rem 1.5rem 2rem;
  border-radius: 8px;
  text-decoration: none;
  background: #f5f5f5;
  border: 1px solid;
  box-shadow: 5px 5px 5px 0 rgb(0 0 0 / 0.25);
  align-items: center;
  text-align: center;
  color: #000;
  display: flex;
  gap: 16px;
  flex-direction: column;
  width: 100%;
}

.i3card:hover {
  transition: 0.3s;
  background-color: #e5e5e5;
  border: 1px solid;
}

.i3card img {
  object-fit: cover;
  transition: transform 0.3s;
  border-radius: 16px;
}

.i3card:hover img {
  transform: scale(1.05);
}

.i3card h3 {
  margin: 16px 0 8px;
}

.i3card .CHbutton {
  width: 100%;
  margin-top: 2rem;
  text-decoration: none;
  text-align: center;
  background: rgb(0 0 0 / 0.8);
  border-radius: 5px;
  color: #f5f5f5;
  padding: 16px 32px;
  transition: 0.4s;
}

.i3card .CHbutton:hover {
  background: rgb(0 0 0 / 0.5);
  color: rgb(0 0 0 / 0.9);
}

@media (max-width: 991px) {
  .yelist li {
    width: 100% !important;
    display: flex;
    justify-content: center;
  }

  .yelist:hover img {
    transform: scale(1);
  }

  .services .content {
    padding: 7.5rem 0 5rem;
  }
}
