/* Start Window / Hero Section */
.start_window {
  min-height: 100vh;
  background: url(/img/background/top-bg.webp) center center/cover no-repeat;
  overflow: hidden;
}

.start_window .text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.start_window .top-zhan {
  height: 800px;
  position: absolute;
  right: -80px;
}

.start_window .top-logo {
  height: 70px;
  position: absolute;
  top: 80px;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start_window h1 {
  margin: 0;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 0,
    rgba(255, 255, 255, 0.7) 50%,
    rgba(255, 255, 255, 0.1) 100%
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.start_window p {
  text-align: center;
  color: #e2e8f0;
  font-size: calc(0.65rem + 0.9vw);
}

.start_window a,
.btn-order {
  width: 100%;
  margin-top: 2rem;
  text-decoration: none;
  text-align: center;
  background: rgb(255 255 255 / 0.16);
  border-radius: 5px;
  color: rgb(196 196 196 / 0.9);
  padding: 16px 32px;
  transition: 0.4s;
  display: inline-block;
}

.start_window a:hover,
.btn-order:hover {
  background: rgb(255 255 255 / 0.56);
  color: rgb(0 0 0 / 0.9);
}

@media (max-width: 991px) {
  .start_window .top-zhan {
    height: 600px;
    position: absolute;
    right: -80px;
  }
}
